# Aplicar CRISP-DM a registros de calificaciones

Los pasos del modelo CRISP-DM incluyen:

1. Comprensión del negocio
2. Comprensión de los datos
...

## Comprensión de los datos

El siguiente paso consiste en realizar análisis de los datos con los que se cuenta. Para dar una idea, la información que sirve de base para este proyecto son registros de calificaciones de estudiantes de los periodos 2016 al 2022.

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

Los datos fueron proporcionados por años, y estos se encuentran en archivos de valores separados por comas (CSV). Tenga en cuenta que los datos que aparecen en el archivo más reciente, contiene algunos datos adicionales sobre las horas que el estudiante trabajaba al momento de ingresar en la Universidad del Caribe.

In [2]:
# Importar los datos de los multiples CSV
datos_2016 = pd.read_csv("datos_2016.csv")
datos_2017 = pd.read_csv("datos_2017.csv")
datos_2018 = pd.read_csv("datos_2018.csv")
datos_2019 = pd.read_csv("datos_2019.csv")
datos_2020_2021 = pd.read_csv("2020_2021.csv")

Todos los datos se pueden juntar en un mismo conjunto de datos para facilitar la exploración.

In [8]:
# Consolidar toda la información en una misma tabla
data = pd.concat([datos_2016, datos_2017, datos_2018, datos_2019, datos_2020_2021], axis = 0, ignore_index = True)

Los datos importados contienen columnas que no contienen información que pueda usarse en el análisis, así que se eliminan.

In [11]:
# Eliminar las columnas sin información
data.drop(columns = ["Unnamed: 0", "Column1", "programa"], inplace = True)

Una vez realizada esta operación, necesitamos averiguar qué otras variables no aportarán información útil al proceso de entendimiento de los datos.

In [12]:
data.columns

Index(['carrera', 'periodo', 'clave', 'asignatura', 'promediofinal', 'docente',
       'ceveval_global', 'ceneval_analitico', 'ceneval_matematico',
       'ceneval_lengua', 'ceneval_esp', 'modulo1', 'r_modulo1', 'modulo2',
       'r_modulo2', 'modulo3', 'r_modulo3', 'modulo4', 'r_modulo4', 'modulo5',
       'r_modulo5', 'modulo6', 'r_modulo6', 'modulo7', 'r_modulo7', 'modulo8',
       'r_modulo8', 'modulo9', 'r_modulo9', 'modulo10', 'r_modulo10',
       'modulo11', 'r_modulo11', 'modulo12', 'r_modulo12', 'n_matricula',
       'hrs_trabaja'],
      dtype='object')

Adicionalmente, se pueden renombrar algunas columnas con nombres descriptivos de referencia

In [55]:
# Renombrar columnas a un estándar en Inglés
data.rename(columns = {
    "carrera" : "career", 
    "periodo" : "period", 
    "clave" : "id_subject",
    "asignatura" : "subject", 
    "promediofinal" : "final_grade",
    "docente" : "teacher",
    "ceveval_global" : "global",
    "ceneval_analitico" : "analytic",
    "ceneval_matematico" : "math",
    "ceneval_lengua" : "language",
    "ceneval_esp" : "spanish",
    "n_matricula" : "id_user",
    "hrs_trabaja" : "working_hours"
}, inplace = True)

Una de las columnas que más repite los datos, es la de los módulos. Estos son indicadores del programa del CENEVAL en donde se marca un puntaje en las diferentes secciones del examen. Para este análisis, esos datos serán descartados.

In [56]:
# Filtrar los nombres de los módulos
modulos = data.columns[data.columns.str.contains("modulo")]
modulos

Index(['modulo1', 'r_modulo1', 'modulo2', 'r_modulo2', 'modulo3', 'r_modulo3',
       'modulo4', 'r_modulo4', 'modulo5', 'r_modulo5', 'modulo6', 'r_modulo6',
       'modulo7', 'r_modulo7', 'modulo8', 'r_modulo8', 'modulo9', 'r_modulo9',
       'modulo10', 'r_modulo10', 'modulo11', 'r_modulo11', 'modulo12',
       'r_modulo12'],
      dtype='object')

Eliminamos de los datos originales, las columnas que pertenecen a los módulos.

In [57]:
# Eliminar las columnas de los módulos
data.drop(columns = modulos, inplace = True)

data.columns

Index(['career', 'period', 'id_subject', 'subject', 'final_grade', 'teacher',
       'global', 'analytic', 'math', 'language', 'spanish', 'id_user',
       'working_hours'],
      dtype='object')

Un caso bastante común a la hora de realizar limpieza de datos, es cuando se encuentran filas duplicados en las tablas de datos. Se puede utilizar una estrategia para eliminarlos y evitar analizarlos más tarde.

In [58]:
# Revisar filas duplicadas
data[data.duplicated(keep = False)].head()

,career,period,id_subject,subject,final_grade,teacher,global,analytic,math,language,spanish,id_user,working_hours
405,Ingeniería en Datos e Inteligencia Organizacional,201601,IT0107,Técnicas algorítmicas,9.0,Flores Granados / David Israel,1138.0,1132.0,1180.0,1132.0,1108.0,140311177,NaN
406,Ingeniería en Datos e Inteligencia Organizacional,201601,IT0107,Técnicas algorítmicas,9.0,Flores Granados / David Israel,1138.0,1132.0,1180.0,1132.0,1108.0,140311177,NaN
1267,Turismo Sustentable y Gestión Hotelera,201601,TS0102,Introducción a la hotelería,0.0,Hernández Méndez / Juan Oscar,1000.0,1084.0,1012.0,988.0,916.0,150311068,NaN
1275,Turismo Sustentable y Gestión Hotelera,201601,TS0102,Introducción a la hotelería,0.0,Hernández Méndez / Juan Oscar,1000.0,1084.0,1012.0,988.0,916.0,150311068,NaN
15027,Ingeniería en Datos e Inteligencia Organizacional,201603,IT0107,Técnicas algorítmicas,7.0,Manzano Pinzón / Francisco,1198.0,1180.0,1276.0,1156.0,1180.0,150311223,NaN

In [59]:
# Eliminar registros duplicados
data.drop_duplicates(keep = "first", inplace = True)

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 177613 entries, 0 to 177627
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   career         167666 non-null  object
 1   period         177613 non-null  int64
 2   id_subject     177613 non-null  object
 3   subject        177613 non-null  object
 4   final_grade    177536 non-null  float64
 5   teacher        177613 non-null  object
 6   global         173890 non-null  float64
 7   analytic       164437 non-null  float64
 8   math           164437 non-null  float64
 9   language       164437 non-null  float64
 10  spanish        164437 non-null  float64
 11  id_user        177613 non-null  int64
 12  working_hours  9451 non-null    object
dtypes: float64(6), int64(2), object(5)
memory usage: 19.0+ MB

In [62]:
grades_per_period = data.groupby(["career", "id_user", "period"]).size().reset_index(name = "n")
grades_per_period.sort_values(by = ["career", "id_user", "period", "n"], inplace = True)
grades_per_period

                                       career    id_user  period  n
0                                 Gastronomía  100311361  201601  9
1                                 Gastronomía  100311361  201603  8
2                                 Gastronomía  100311361  201604  1
3                                 Gastronomía  110311014  201601  1
4                                 Gastronomía  110311014  201602  1
...                                       ...        ...     ... ..
31960  Turismo Sustentable y Gestión Hotelera  190311672  201903  4
31961  Turismo Sustentable y Gestión Hotelera  190311673  201903  6
31962  Turismo Sustentable y Gestión Hotelera  190311674  201903  6
31963  Turismo Sustentable y Gestión Hotelera  190311678  201903  4
31964  Turismo Sustentable y Gestión Hotelera  190311683  201903  5

[31965 rows x 4 columns]

In [1]:
# Conteo de agrupaciones por cantidad de asignaturas
grades_sizes = grades_per_period.groupby("n").size().reset_index(name = "count")
grades_sizes.sort_values(by = ["n"], ascending = False, inplace = True)
grades_sizes

NameError: name 'grades_per_period' is not defined

In [64]:
# Promedio de calificaciones cargadas por periodo
grades_sizes["n"].mean()

7.615384615384615

In [65]:
# Filtrar filas que tengan valores vacío
data[data.isnull().any(axis=1)]

,career,period,id_subject,subject,final_grade,teacher,global,analytic,math,language,spanish,id_user,working_hours
0,Negocios Internacionales,201601,DP0295,Taller de formación en responsabilidad social ...,10.0,Maldonado Saldaña / Gisela,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
1,Negocios Internacionales,201601,NI0215,Taller de software para negocios internacionales,9.0,Villeda Cuellar / Víctor Hugo,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
2,Negocios Internacionales,201601,LI1104,Nivel 4 Inglés,10.0,Ross / Andrew Patrick Simon,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
3,Negocios Internacionales,201601,NI0209,Administración financiera,6.0,Vallejo Filoteo / Jorge,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
4,Negocios Internacionales,201601,NI0213,Transporte y logística en comercio exterior,9.0,Cañedo Magaña / Magdalena del Carmen,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177623,NaN,202202,PID0201,Prácticas Profesionales I,10.0,García Fernández / Alejandro,886.0,NaN,NaN,NaN,NaN,190311019,De 16 a 20 horas
177624,NaN,202202,PID0201,Prácticas Profesionales I,9.0,García Fernández / Alejandro,970.0,NaN,NaN,NaN,NaN,180311441,No trabajaba
177625,NaN,202202,PID0201,Prácticas Profesionales I,10.0,García Fernández / Alejandro,1138.0,NaN,NaN,NaN,NaN,190311497,Más de 20 horas
177626,NaN,202202,IT0208,Electrónica digital,8.0,Casas De La Cruz / Rosa Guadalupe,1186.0,NaN,NaN,NaN,NaN,160311164,De 5 a 10 horas
177627,NaN,202202,PID0302,Prácticas profesionales II,8.0,García Fernández / Alejandro,1132.0,NaN,NaN,NaN,NaN,170311249,De 5 a 10 horas

In [66]:
with_ceneval = data[data[["analytic", "math", "language", "spanish"]].isnull().any(axis = 1)]
with_ceneval

,career,period,id_subject,subject,final_grade,teacher,global,analytic,math,language,spanish,id_user,working_hours
38463,Negocios Internacionales,201603,NI0214,Comercio internacional de México,9.0,Cervantes Bello / Carmen Lilia,NaN,NaN,NaN,NaN,NaN,160311544,NaN
38464,Negocios Internacionales,201603,NI3477,Economía internacional,8.0,Mccoy Cador / Christine Elizabeth,NaN,NaN,NaN,NaN,NaN,160311544,NaN
38465,Negocios Internacionales,201603,NI0212,Derecho aduanero,10.0,Carbajal Canales / Shadaii,NaN,NaN,NaN,NaN,NaN,160311544,NaN
38466,Negocios Internacionales,201603,NI0319,Acuerdos y organismos reguladores del comercio...,10.0,Villeda Cuellar / Víctor Hugo,NaN,NaN,NaN,NaN,NaN,160311544,NaN
38467,Turismo Sustentable y Gestión Hotelera,201601,TS3435,Administración de alimentos y bebidas,8.0,Terrazas Ruíz / Héctor,NaN,NaN,NaN,NaN,NaN,160111146,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
177623,NaN,202202,PID0201,Prácticas Profesionales I,10.0,García Fernández / Alejandro,886.0,NaN,NaN,NaN,NaN,190311019,De 16 a 20 horas
177624,NaN,202202,PID0201,Prácticas Profesionales I,9.0,García Fernández / Alejandro,970.0,NaN,NaN,NaN,NaN,180311441,No trabajaba
177625,NaN,202202,PID0201,Prácticas Profesionales I,10.0,García Fernández / Alejandro,1138.0,NaN,NaN,NaN,NaN,190311497,Más de 20 horas
177626,NaN,202202,IT0208,Electrónica digital,8.0,Casas De La Cruz / Rosa Guadalupe,1186.0,NaN,NaN,NaN,NaN,160311164,De 5 a 10 horas
177627,NaN,202202,PID0302,Prácticas profesionales II,8.0,García Fernández / Alejandro,1132.0,NaN,NaN,NaN,NaN,170311249,De 5 a 10 horas

In [67]:
without_ceneval = data[~data[["analytic", "math", "language", "spanish"]].isnull().any(axis = 1)]
without_ceneval

,career,period,id_subject,subject,final_grade,teacher,global,analytic,math,language,spanish,id_user,working_hours
0,Negocios Internacionales,201601,DP0295,Taller de formación en responsabilidad social ...,10.0,Maldonado Saldaña / Gisela,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
1,Negocios Internacionales,201601,NI0215,Taller de software para negocios internacionales,9.0,Villeda Cuellar / Víctor Hugo,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
2,Negocios Internacionales,201601,LI1104,Nivel 4 Inglés,10.0,Ross / Andrew Patrick Simon,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
3,Negocios Internacionales,201601,NI0209,Administración financiera,6.0,Vallejo Filoteo / Jorge,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
4,Negocios Internacionales,201601,NI0213,Transporte y logística en comercio exterior,9.0,Cañedo Magaña / Magdalena del Carmen,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166969,Negocios Internacionales,201903,NI0101,Introducción a los negocios internacionales,9.0,Estrada Acosta / Jorge,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166970,Negocios Internacionales,201903,NI0102,Contabilidad básica,7.0,León Vite / Elda Leticia,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166971,Negocios Internacionales,201903,NI0105,Microeconomía,7.0,Tamayo Sánchez / Luis Gerardo,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166972,Negocios Internacionales,201903,LI1101,Nivel 1 Inglés,10.0,Montero Pérez / Gilberto Josué,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166973,Negocios Internacionales,201903,NI0162,Envase y embalaje,10.0,Corona Sandoval / Enrique,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN

In [76]:
with_ceneval_groups = with_ceneval.groupby(["id_user"]).size().reset_index(name = "n").sort_values(by = "n")
with_ceneval_groups

       id_user   n
153  160311525   1
158  160311531   1
159  160311532   1
160  160311533   1
161  160311534   1
..         ...  ..
62   150311515  58
112  160311117  58
230  170311112  58
192  170111121  60
64   150311521  87

[713 rows x 2 columns]

In [77]:
without_ceneval_groups = without_ceneval.groupby(["id_user"]).size().reset_index(name = "n").sort_values(by = "n")
without_ceneval_groups

        id_user   n
55    100311375   1
184   110311711   1
183   110311706   1
41    100311251   1
182   110311701   1
...         ...  ..
2491  150311893  74
2018  150311216  75
2023  150311222  76
1969  150311162  78
1957  150311150  78

[5805 rows x 2 columns]

In [81]:
with_ceneval_ids = list(set(without_ceneval_groups["id_user"]).difference(set(with_ceneval_groups["id_user"])))
with_ceneval_ids

[170311700,
 170311701,
 170311702,
 170311703,
 170311704,
 170311705,
 170311706,
 170311707,
 170311708,
 170311709,
 170311710,
 170311711,
 170311712,
 170311713,
 170311714,
 170311715,
 170311716,
 170311717,
 170311718,
 170311719,
 170311720,
 170311721,
 170311722,
 170311723,
 170311724,
 170311725,
 170311726,
 170311727,
 170311728,
 170311729,
 170311730,
 170311731,
 170311732,
 170311733,
 170311734,
 170311735,
 170311736,
 170311737,
 170311738,
 170311739,
 170311740,
 170311741,
 170311742,
 170311743,
 170311744,
 170311745,
 170311746,
 170311747,
 170311748,
 170311749,
 170311750,
 170311751,
 170311752,
 170311753,
 170311754,
 170311755,
 170311756,
 170311757,
 170311758,
 170311759,
 170311760,
 170311761,
 170311762,
 170311763,
 170311764,
 170311765,
 170311766,
 170311767,
 170311768,
 170311769,
 170311770,
 170311771,
 170311773,
 170311774,
 170311775,
 170311776,
 170311777,
 170311778,
 170311779,
 170311780,
 170311781,
 170311782,
 170311783,
 170311784,
 170311785,
 170311786,
 170311787,
 170311788,
 170311789,
 170311790,
 170311791,
 170311792,
 170311793,
 170311794,
 170311795,
 170311796,
 170311797,
 170311798,
 170311799,
 170311800,
 170311801,
 170311802,
 170311803,
 170311804,
 170311805,
 170311806,
 170311807,
 170311808,
 170311809,
 170311810,
 170311811,
 170311812,
 170311813,
 170311814,
 170311815,
 170311816,
 170311817,
 170311818,
 170311819,
 170311820,
 170311821,
 170311822,
 170311823,
 170311824,
 170311825,
 170311826,
 170311827,
 170311828,
 170311829,
 170311830,
 170311831,
 170311832,
 170311833,
 170311834,
 170311835,
 170311836,
 170311837,
 170311838,
 170311839,
 170311840,
 170311841,
 170311842,
 170311843,
 170311844,
 170311845,
 170311846,
 170311847,
 170311848,
 170311849,
 170311850,
 170311852,
 170311853,
 170311854,
 170311855,
 170311856,
 170311857,
 170311858,
 170311859,
 170311860,
 170311861,
 170311862,
 170311863,
 170311864,
 170311865,
 170311866,
 170311867,
 170311868,
 170311869,
 170311870,
 170311871,
 170311872,
 170311873,
 170311874,
 170311875,
 170311876,
 170311877,
 170311878,
 170311879,
 170311880,
 170311881,
 170311882,
 170311883,
 170311884,
 170311885,
 170311886,
 170311887,
 170311888,
 170311889,
 170311890,
 170311891,
 170311892,
 170311893,
 170311894,
 170311895,
 170311897,
 170311898,
 170311900,
 170311901,
 170311902,
 170311903,
 170311904,
 170311906,
 170311907,
 170311908,
 170311909,
 170311910,
 170311911,
 170311912,
 170311913,
 170311914,
 170311915,
 170311916,
 170311917,
 170311918,
 170311919,
 170311920,
 170311921,
 170311922,
 170311923,
 170311924,
 170311925,
 170311926,
 170311927,
 170311928,
 170311929,
 170311930,
 170311931,
 170311932,
 170311933,
 170311934,
 170311935,
 170311936,
 170311937,
 170311938,
 170311939,
 170311940,
 170311941,
 170311942,
 170311943,
 170311944,
 170311945,
 170311946,
 170311947,
 170311948,
 170311949,
 170311950,
 170311951,
 170311952,
 170311953,
 170311954,
 170311955,
 170311956,
 170311957,
 170311958,
 170311959,
 170311961,
 170311962,
 170311963,
 170311964,
 170311965,
 170311966,
 170311967,
 170311968,
 170311969,
 170311970,
 170311971,
 170311972,
 170311973,
 170311974,
 170311975,
 170311976,
 170311977,
 170311978,
 170311979,
 170311980,
 170311981,
 170311982,
 170311983,
 170311984,
 170311985,
 170311986,
 170311987,
 170311988,
 170311989,
 170311990,
 170311991,
 170311992,
 170311993,
 170311994,
 170311995,
 170311996,
 170311997,
 170311998,
 170311999,
 190311083,
 190311084,
 190311085,
 190311086,
 190311088,
 190311089,
 120311000,
 120311001,
 120311002,
 120311003,
 120311004,
 120311005,
 120311006,
 120311010,
 120311011,
 120311012,
 120311013,
 120311015,
 120311016,
 120311017,
 190311090,
 120311019,
 120311020,
 120311021,
 120311022,
 120311023,
 120311024,
 120311025,
 120311026,
 120311027,
 120311029,
 120311033,
 120311034,
 120311036,
 120311038,
 120311039,
 120311040,
 120311041,
 120311042,
 120311044,
 120311045,
 120311046,
 120311048,
 120311049,
 120311050,
 120311051,
 120311052,
 120311054,
 120311055,
 120311056,
 120311057,
 120311058,
 120311059,
 120311061,
 120311062,
 120311064,
 120311065,
 120311066,
 120311069,
 120311070,
 120311071,
 120311072,
 120311073,
 120311074,
 120311075,
 120311076,
 120311077,
 120311078,
 120311079,
 120311080,
 120311081,
 120311082,
 120311083,
 120311084,
 120311085,
 120311086,
 120311089,
 80301362,
 120311091,
 120311092,
 120311094,
 120311095,
 120311096,
 120311098,
 120311099,
 120311102,
 120311104,
 120311108,
 120311110,
 120311121,
 120311122,
 120311123,
 120311125,
 120311126,
 120311127,
 120311129,
 120311130,
 120311131,
 120311132,
 120311133,
 120311134,
 120311136,
 120311137,
 80301410,
 120311139,
 120311140,
 120311138,
 190311091,
 120311143,
 120311145,
 120311146,
 120311149,
 120311153,
 120311155,
 120311161,
 120311165,
 120311167,
 120311169,
 120311170,
 120311171,
 120311172,
 120311177,
 120311178,
 120311179,
 120311180,
 120311183,
 120311184,
 120311185,
 120311186,
 120311189,
 120311190,
 120311193,
 120311194,
 120311195,
 120311197,
 120311202,
 120311204,
 120311205,
 120311207,
 120311208,
 120311209,
 120311214,
 120311215,
 120311217,
 120311218,
 120311219,
 120311220,
 120311221,
 120311227,
 120311228,
 120311231,
 120311232,
 120311233,
 120311235,
 120311236,
 120311242,
 120311243,
 120311244,
 120311245,
 120311248,
 120311252,
 120311256,
 190311092,
 120311270,
 120311271,
 120311273,
 120311275,
 120311278,
 120311279,
 120311281,
 120311283,
 120311285,
 120311286,
 120311287,
 120311289,
 120311293,
 120311296,
 120311298,
 120311299,
 120311301,
 120311304,
 120311305,
 120311307,
 120311308,
 120311309,
 120311340,
 120311345,
 120311350,
 120311351,
 120311352,
 120311353,
 120311355,
 120311356,
 120311357,
 120311358,
 120311359,
 120311361,
 120311362,
 120311363,
 120311364,
 120311366,
 120311367,
 120311368,
 120311369,
 120311370,
 120311372,
 120311373,
 120311376,
 120311377,
 120311378,
 120311379,
 120311381,
 120311384,
 120311386,
 120311388,
 120311389,
 120311390,
 120311391,
 190311093,
 120311393,
 120311394,
 120311399,
 120311400,
 120311401,
 120311402,
 120311403,
 120311404,
 120311406,
 120311407,
 120311408,
 120311411,
 120311412,
 120311413,
 120311414,
 120311417,
 120311418,
 120311419,
 120311420,
 120311423,
 120311424,
 120311427,
 120311428,
 120311429,
 120311430,
 120311431,
 120311432,
 120311433,
 120311435,
 120311436,
 120311437,
 120311438,
 80301711,
 120311440,
 120311441,
 120311442,
 120311443,
 120311439,
 120311445,
 120311446,
 120311447,
 120311448,
 120311449,
 120311450,
 120311451,
 120311452,
 120311454,
 120311461,
 120311462,
 120311464,
 120311465,
 120311466,
 120311467,
 120311468,
 120311469,
 120311471,
 120311472,
 120311473,
 120311474,
 120311475,
 120311476,
 120311477,
 120311478,
 120311479,
 120311480,
 120311481,
 120311482,
 120311484,
 120311485,
 120311486,
 120311487,
 120311488,
 120311489,
 120311493,
 120311494,
 120311495,
 120311496,
 120311497,
 120311498,
 120311499,
 120311510,
 120311512,
 120311513,
 120311514,
 120311515,
 120311516,
 190311094,
 120311518,
 120311523,
 80301882,
 120311701,
 120311702,
 120311703,
 120311707,
 120311709,
 120311714,
 120311715,
 120311717,
 120311720,
 120311721,
 120311722,
 120311723,
 120311724,
 120311725,
 120311726,
 120311727,
 120311728,
 120311730,
 120311731,
 120311732,
 120311733,
 120311734,
 120311735,
 120311736,
 120311738,
 120311739,
 120311742,
 120311743,
 120311745,
 120311746,
 120311747,
 120311749,
 120311752,
 120311753,
 120311755,
 120311757,
 120311758,
 120311761,
 120311762,
 120311763,
 120311764,
 120311767,
 120311769,
 120311770,
 120311772,
 120311773,
 120311776,
 120311777,
 120311779,
 120311781,
 120311784,
 120311785,
 120311790,
 120311791,
 120311792,
 120311794,
 120311795,
 120311796,
 120311798,
 120311799,
 120311800,
 120311801,
 120311802,
 120311804,
 120311805,
 120311806,
 120311807,
 120311808,
 120311809,
 120311810,
 120311811,
 120311812,
 120311813,
 120311814,
 120311815,
 120311816,
 120311817,
 120311818,
 120311819,
 120311821,
 120311822,
 120311823,
 120311825,
 120311826,
 120311827,
 120311828,
 120311829,
 120311831,
 120311832,
 120311833,
 120311835,
 120311836,
 120311838,
 120311839,
 120311842,
 120311844,
 120311845,
 120311848,
 120311849,
 120311850,
 120311852,
 120311853,
 120311854,
 120311855,
 120311856,
 120311857,
 120311859,
 120311860,
 120311861,
 120311862,
 120311863,
 120311864,
 120311867,
 120311868,
 120311869,
 120311870,
 120311872,
 120311873,
 120311874,
 120311878,
 120311881,
 120311884,
 120311885,
 120311886,
 120311887,
 120311889,
 120311890,
 120311891,
 120311892,
 120311895,
 150311000,
 150311001,
 150311002,
 150311003,
 150311004,
 150311005,
 150311006,
 150311007,
 150311008,
 150311009,
 150311010,
 150311011,
 120311899,
 150311013,
 120311901,
 150311015,
 150311016,
 150311017,
 150311018,
 150311019,
 150311020,
 150311021,
 150311022,
 150311023,
 150311024,
 150311025,
 150311026,
 150311027,
 150311028,
 150311029,
 150311030,
 150311031,
 150311032,
 150311033,
 150311034,
 150311035,
 150311036,
 150311037,
 150311038,
 150311039,
 150311040,
 150311041,
 150311042,
 150311043,
 150311044,
 150311045,
 150311046,
 150311047,
 150311048,
 150311049,
 150311050,
 150311051,
 150311052,
 150311053,
 150311054,
 150311055,
 150311056,
 150311057,
 150311058,
 150311059,
 150311060,
 150311061,
 150311062,
 150311063,
 150311064,
 150311065,
 150311066,
 150311067,
 150311068,
 150311069,
 150311070,
 150311071,
 150311072,
 150311073,
 150311074,
 150311075,
 150311076,
 150311077,
 150311078,
 150311079,
 150311080,
 150311081,
 150311082,
 150311083,
 150311084,
 150311085,
 150311086,
 150311087,
 150311088,
 120311976,
 120311977,
 150311091,
 120311979,
 150311093,
 150311094,
 150311095,
 150311096,
 150311097,
 150311098,
 150311099,
 150311100,
 150311101,
 150311102,
 150311103,
 120311992,
 150311105,
 150311106,
 150311107,
 150311108,
 150311109,
 120311998,
 120311999,
 150311116,
 150311120,
 150311121,
 150311122,
 150311123,
 150311124,
 150311125,
 150311126,
 150311128,
 150311129,
 150311130,
 150311132,
 150311133,
 150311134,
 150311135,
 150311136,
 150311137,
 150311138,
 150311139,
 150311140,
 150311141,
 150311142,
 150311143,
 150311144,
 150311145,
 150311146,
 150311147,
 150311148,
 150311149,
 150311151,
 150311152,
 150311153,
 150311154,
 150311156,
 150311157,
 150311158,
 150311159,
 150311160,
 150311161,
 150311164,
 150311165,
 150311166,
 150311168,
 150311169,
 150311170,
 150311171,
 150311172,
 150311173,
 150311174,
 150311175,
 150311176,
 150311177,
 150311178,
 150311179,
 150311180,
 150311181,
 150311182,
 150311183,
 150311184,
 150311185,
 150311186,
 150311187,
 150311188,
 150311189,
 150311190,
 150311192,
 150311193,
 150311194,
 150311195,
 150311196,
 150311197,
 150311198,
 150311199,
 150311200,
 150311201,
 150311205,
 150311207,
 150311208,
 150311209,
 150311210,
 150311211,
 150311212,
 150311215,
 150311217,
 150311218,
 150311224,
 150311226,
 150311227,
 150311228,
 150311229,
 150311230,
 150311233,
 150311234,
 150311235,
 150311237,
 150311238,
 150311240,
 150311241,
 150311242,
 150311243,
 150311244,
 150311245,
 150311246,
 150311247,
 150311248,
 150311249,
 150311250,
 150311251,
 150311252,
 150311254,
 150311255,
 150311256,
 150311257,
 150311258,
 150311260,
 150311261,
 150311262,
 150311263,
 150311264,
 150311266,
 150311267,
 150311268,
 150311269,
 150311270,
 150311271,
 150311272,
 150311273,
 150311274,
 150311275,
 150311276,
 150311277,
 150311278,
 150311279,
 150311280,
 150311281,
 150311282,
 150311283,
 150311284,
 150311285,
 150311286,
 150311287,
 150311288,
 150311289,
 150311290,
 150311291,
 150311292,
 150311294,
 150311295,
 150311296,
 150311297,
 150311298,
 150311299,
 150311300,
 150311301,
 150311302,
 ...]

In [82]:
data[data["id_user"].isin(with_ceneval_ids)]

,career,period,id_subject,subject,final_grade,teacher,global,analytic,math,language,spanish,id_user,working_hours
0,Negocios Internacionales,201601,DP0295,Taller de formación en responsabilidad social ...,10.0,Maldonado Saldaña / Gisela,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
1,Negocios Internacionales,201601,NI0215,Taller de software para negocios internacionales,9.0,Villeda Cuellar / Víctor Hugo,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
2,Negocios Internacionales,201601,LI1104,Nivel 4 Inglés,10.0,Ross / Andrew Patrick Simon,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
3,Negocios Internacionales,201601,NI0209,Administración financiera,6.0,Vallejo Filoteo / Jorge,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
4,Negocios Internacionales,201601,NI0213,Transporte y logística en comercio exterior,9.0,Cañedo Magaña / Magdalena del Carmen,1150.0,1108.0,1228.0,1108.0,1156.0,140311285,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
166969,Negocios Internacionales,201903,NI0101,Introducción a los negocios internacionales,9.0,Estrada Acosta / Jorge,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166970,Negocios Internacionales,201903,NI0102,Contabilidad básica,7.0,León Vite / Elda Leticia,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166971,Negocios Internacionales,201903,NI0105,Microeconomía,7.0,Tamayo Sánchez / Luis Gerardo,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166972,Negocios Internacionales,201903,LI1101,Nivel 1 Inglés,10.0,Montero Pérez / Gilberto Josué,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN
166973,Negocios Internacionales,201903,NI0162,Envase y embalaje,10.0,Corona Sandoval / Enrique,1006.0,1084.0,964.0,1012.0,964.0,190311479,NaN